/node_modules
/public/hot
/public/storage
/storage/*.key
/app/config/database.php
/config/database.php
.env.backup
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log